/* Navigation Bar */

.navbar {
  padding: 10px 20px;
}


/* Section: Home */

#home .container {
  text-align: center;
  padding-left: 2rem;
  padding-right: 2rem;
}

#home .col h1 { font-size: 1.5rem; }

#home .col h2 { font-size: 3rem; }


/* Section: Services */
#services {
  background: url('../img/hero.jpg') no-repeat center center/cover;
  background-attachment: fixed;
}

#services .container { padding: 0 2rem; }

.service-item {
  margin-bottom: 0;
  flex-direction: column;
  text-align: center;
}

.service-item-icon i {
  margin: 0 0 0.7rem 0;
}

.content-box {
  padding: 50px 0 15px;
}

#services .content-box {
  background-color: rgba(255, 255, 255, 0.918);
}


/* Section: About */

#about {
  text-align: center;
}

#about .container {
    background-attachment: fixed;
}

.about-img {
display: none;
}

#about .container {
  box-shadow: none;
  margin-bottom: 0;
  max-width: 100%;
}

.about-desc {
  padding: 4rem;
}


@media(max-width: 500px) {
  #home .container {
    height: 100vh;
  }

  .service-item {
    flex-direction: row;
    text-align: left;
  }

  .service-item-icon i {
    margin-right: 25px;
  }
}